<?php

$GLOBALS['pomm_db1']  = [
    'dsn'  => 'pgsql://user:pass@host:port/db_name',
    'name' => 'pomm_test'
];
$GLOBALS['pomm_db2']  = [
    'dsn'  => 'pgsql://user:pass@host:port/db_name',
    'name' => 'pomm_test',
    'date_implementation' => 'chronos'
];
